extends ../layout

block content
	style.
		.width100p{
			width:100%;
		}
	div(ng-app="myapp")
		section.content-header
			h1=title
				small welcome to #{title}
			ol.breadcrumb
				li
					a(href="/")
						i.fa.fa-dashboard
						|首页&nbsp;
				li.active 简单表单
		section.content(ng-controller="myctrl",
			ng-init="pagedata=#{pagedata};pageoption=#{pageoption};input=#{inputdata} || input")
			.row(ng-show="pageoption.env.toLowerCase()==='development'")
				pre=inputdata
			.row
				.col-md-12
					.box.box-primary
						.box-header.with-border
							h3.box-title 表单标题
						form.form-horizontal(name="form",autocomplete="off",ng-submit="submit()")
							.box-body
								.form-group.has-feedback(ng-class="{'has-success':form.text1.$valid && form.text1.$dirty,'has-error':form.text1.$invalid && form.text1.$dirty}")
									label.col-md-3.control-label
										strong.text-danger *
										| 普通文本标题 
									.col-md-5
										input.form-control(type="text",name="text1",placeholder="请输入0-9的数字",ng-model="input.text1" required, ng-minlength="2", ng-maxlength="10", ng-pattern="/^[0-9]*$/", autofocus,
										ui-validate="{bignum:'$value > 5000'}"
											)
										span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="form.text1.$valid && form.text1.$dirty")
										span.glyphicon.glyphicon-exclamation-sign.form-control-feedback(ng-show="form.text1.$invalid && form.text1.$dirty")
										div(ng-messages="form.text1.$error",ng-show="form.text1.$dirty")
											label.label(ng-message="required") 请输入字段1的内容
											label.label(ng-message="pattern") 只允许输入0-9的数字
											label.label(ng-message="minlength, maxlength") 请输入长度在2-10之间的数字
											label.label(ng-message="bignum") 只允许输入大于5000的数字
									.col-md-4
										p.help-block 普通文本说明文字普通文本说明文字.....
								.form-group(ng-class="{'has-success':form.date.$valid && form.date.$dirty,'has-error':form.date.$invalid && form.date.$dirty}")
									label.col-md-3.control-label
										strong.text-danger *
										| 单据日期
									.col-md-5
										.input-group
											input.form-control(type="text",name="date",uib-datepicker-popup="yyyy-MM-dd",
											is-open="pagestatus.dateopen",ng-Model="input.date",
											current-text="今天",
											clear-text="清除",
											close-text="关闭",
											placeholder="yyyy-MM-dd",
											required,
											ui-validate="'checkDateAfterNow($value)'")
											span.input-group-btn
												button.btn.btn-info(type="button",ng-click="pagestatus.dateopen=true")
													i.glyphicon.glyphicon-calendar
										div(ng-messages="form.date.$error",ng-show="form.date.$dirty")
											.help-block(ng-message="required") 请选择单据日期
											.help-block(ng-message="pattern date") 请按yyyy-MM-dd格式输入有效的日期
											.help-block(ng-message="validator") 请输入大于今天的日期
									.col-md-4
										p.help-block
								.form-group(ng-class="{'has-success':form.person.$valid && form.person.$dirty,'has-error':form.person.$invalid && form.person.$dirty}")
									label.col-md-3.control-label
										strong.text-danger *
										| 客户
									.col-md-5
										ui-select(ng-model="input.person",theme="bootstrap",required,
										  on-select="onselect($select,$item)",name="person")
											ui-select-match(placeholder="请选择客户...",allow-clear="true") {{$select.selected.name}} : {{$select.selected.email}}
											ui-select-choices(repeat="item in pagedata.people | filter: $select.search")
												div(ng-bind-html="item.name | highlight: $select.search")
												small(ng-bind-html="item.email | highlight: $select.search")
										div(ng-messages="form.person.$error",ng-show="form.person.$dirty")
											.help-block(ng-message="required") 请选择客户
									.col-md-4
										p.help-block
								.form-group(ng-class="{'has-success':(form.datebegin.$valid && form.datebegin.$dirty) || (form.dateend.$valid && form.dateend.$dirty),'has-error':(form.datebegin.$invalid && form.datebegin.$dirty) || (form.dateend.$invalid && form.dateend.$dirty)}")
									label.col-md-3.control-label 日期期间
									.col-md-5
										.input-group.width100p.text-center
											| _
											.pull-left(style="width:47%;")
												.input-group
													input.form-control(type="text",name="datebegin",uib-datepicker-popup="yyyy-MM-dd",
													is-open="pagestatus.datebeginopen",ng-Model="input.datebegin",
													current-text="今天",
													clear-text="清除",
													close-text="关闭",
													placeholder="yyyy-MM-dd",
													ui-validate="'checkDatebegin($value)'",
													ui-validate-watch="'input.dateend'")
													span.input-group-btn
														button.btn.btn-info(type="button",ng-click="pagestatus.datebeginopen=true")
															i.glyphicon.glyphicon-calendar
											.pull-right(style="width:47%;")
												.input-group
													input.form-control(type="text",name="input[dateend]",uib-datepicker-popup="yyyy-MM-dd",
													is-open="pagestatus.dateendopen",ng-Model="input.dateend",
													current-text="今天",
													clear-text="清除",
													close-text="关闭",
													placeholder="yyyy-MM-dd",
													ui-validate="'checkDateend($value)'",
													ui-validate-watch="'input.datebegin'")
													span.input-group-btn
														button.btn.btn-info(type="button",ng-click="pagestatus.dateendopen=true")
															i.glyphicon.glyphicon-calendar
										div(ng-messages="form.datebegin.$error",ng-show="form.datebegin.$dirty")
											.help-block(ng-message="required") 请选择起始日期
											.help-block(ng-message="pattern date") 请按yyyy-MM-dd格式输入有效的起始日期						
											.help-block(ng-message="validator") 起始日期不能大于结束日期
										div(ng-messages="form.dateend.$error",ng-show="form.dateend.$dirty")
											.help-block(ng-message="required") 请选择结束日期
											.help-block(ng-message="pattern date") 请按yyyy-MM-dd格式输入有效的结束日期	
											.help-block(ng-message="validator") 结束日期不能小于起始日期											
									.col-md-4
								.form-group
									label.col-md-3.control-label 是提交成功
									.col-md-5
										.checkbox
											label
												input(type="checkbox",name="input[isStop]",
												ng-Model="input.isStop")
									.col-md-4
										p.help-block
								.form-group.has-feedback(ng-class="{'has-success':form.validcode.$valid && form.validcode.$dirty,'has-error':form.validcode.$invalid && form.validcode.$dirty}")
									label.col-md-3.control-label 验证码
									.col-md-5
										.input-group
											input.form-control(type="text",ng-model="validcode", required,
											name="validcode",
											ui-validate-async="{validcode:'checkValidCodeAsync($value)'}")
											img.form-control-feedback(ng-src="/validimgcode?id={{validcodeid}}",
													data-id="{{validcodeid}}",style="width:80px;right:54px;z-index:5;")
											span.input-group-btn
												button.btn.btn-info(type="button",ng-click="changeValidCode($event)") 刷新
										div(ng-messages="form.validcode.$error",ng-show="form.validcode.$dirty")
											.help-block(ng-message="required") 请输入验证码
											.help-block(ng-message="validcode") 验证码不正确												
									.col-md-4
										p.help-block
							.box-footer
								input.btn(type="submit",ng-click="btnsubmit($event)",
									ng-disabled="!form.$valid",ng-class="{'btn-primary':form.$valid}",value="提交")
			.row(ng-show="pageoption.env.toLowerCase()==='development'")
				.col-md-12
					.box.box-success
						ul.nav.nav-stacked
							li
								p input
								pre {{input|json}}
							li
								p formcontroller
								pre {{form|json}}
block pagesrc
	script(src="/js/Math.uuid.js")
	script(src="/js/angular_form_submit.js")

	